
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
	background: white;
	
}


:root{
    --main-color:#C71585;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}




.header{
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 10000;
    background: #160040;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 9%;
}

.header .logo{
    font-weight: bolder;
    color:#fff;
    font-size: 2.5rem;
}

.header .logo span{
    color:var(--main-color);
}

.header .navbar a{
    font-size: 1.7rem;
    color:#fff;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: .2s linear;

 }
.abc img{ 
    width: 100%;
    height: 750px;
}
.bg img{
    position: absolute;
	top: 300px;
	width: 325px;
	height: 175px;
    left: 625px;
}
.abd {
    position: absolute;
    background-color:black;
    font-size: 40px;
    top: 525px;
    left: 700px;
    width: 175px;
    height: 50px;
   
}
.abd a
{
    color: var(--main-color);

}
/*.abd a: hover{
    color: var(--main-color);
    opacity: 50%;
}*/
.column {
  margin-left: 105px;
  margin-top: 30px;
  float: left;
  width: 25%;
  padding: 50px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.image1:hover {
  opacity: 0.3;
  color: black;
}
.image2:hover {
  opacity: 0.3;
  color: black;
}
.image3:hover {
  opacity: 0.3;
  color: black;
}



.column img{
border-radius:50%
}
.name{
    font-size: 30px;
    font-family: 'Times New Roman';;
}

.portfolio{
  /*  display: flex;*/
    margin-top: 450px;
    background-color:#F5F5F5; 
    height: 450px;
    
}
.gallery img{
	width: 400px;
	height: 250px;
}



.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: var(--main-color);
  /*color: black;*/
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  color: grey;

}


.text {
  color: #black;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}




.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.end p:hover{
    opacity: 30%;
	
}
.theme-toggler{
    position: fixed;
    top:10rem; right:-20rem;
    background: #333;
    z-index: 1000;
    width: 20rem;
    text-align: center;
}

.theme-toggler.active{
    right:0;
}

.theme-toggler h3{
    color:#fff;
    padding:1rem 0;
    font-size: 2rem;
}

.theme-toggler .buttons{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:1rem;
    padding:1rem;
}

.theme-toggler .buttons .theme-btn{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.theme-toggler .toggle-btn{
    position: absolute;
    top:0; left:-5.9rem;
    padding:1.3rem 1.5rem;
    background:#333;
    cursor: pointer;
}

.theme-toggler .toggle-btn i{
    color:#fff;
    font-size: 3rem;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0%{
        transform: rotate(360deg);
    }
}


